<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PE TOOLS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" href="#">PE TOOLS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-collapse collapse navbar-center">
                <ul class="nav navbar-nav navbar-center">
                </ul>

            </div>
    </nav>

    <div class="container mt-5 ">
        <p1 class="h3 text-center">
            Letter Encryption
        </p1>
    </div>

    <div class="container-md form-group">
        <form method="POST">
            {% csrf_token %}  
        <label for="insert text">Enter Text:</label>
        <textarea class="form-control" rows="5" id="text_to_encrypt" name="text_to_encrypt"></textarea>
        <div class="container-md">
            <label for="sel1">Select Sender:</label>
            <select class="form-control" name="encryption_type">
                <option>RG43s</option>
                <option>Heart Sender</option>
                <option>Mkato</option>
                <option>Random language</option>
            </select>
            <br>
            <div>
                <button type="submit" class="btn btn-primary">Encrypt</button>
            </div>
            </br>
        </div>
    </form>
    </div>
    <div class="container-md">
        <label for="comment">Result:</label>
        <textarea class="form-control" rows="5" id="comment" name='result'>
            {{ result_data }}
        </textarea>
        <br>
        <div>
            <button type="button" class="btn btn-primary" onclick="copytext()" >Copy</button>
        </div>
        </br>
    </div>
    <div>
        <p1 class="text-center">
            Made With love &#128151;
        </p1>
    </div>
    <!-- alert("Copied the text: " + copyGfGText.value);  -->
</body>
<script> 
    function copytext() { 
      var copyGfGText = document.getElementById("comment"); 
      copyGfGText.select(); 
      document.execCommand("copy"); 
     
      document.getElementById('comment').value = "";
    }  
</script> 
</html>